@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}
html {
  line-height: 1.83;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: YuGothic, "Yu Gothic", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #000000;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
li {
  list-style: none;
}
.inner {
  max-width: 880px;
  margin-inline: auto;
}
.section__ttl {
  font-size: 2.5rem;
  text-align: center;
  position: relative;
  z-index: 10;
  font-weight: bold;
  margin-bottom: 4.7rem;
}
@media (max-width: 767px) {
    .inner {
      max-width: 100%;
      padding-inline: 0;
    }
    .section__ttl {
      margin-bottom: 4rem;
    }
}

/* ===========================
header
     =========================== */
#header {
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 5rem;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 900px; */
  padding: 0.4rem 6rem 0.4rem 4rem;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 4.8rem;
  font-size: 2.2rem;
  font-weight: bold;
}
.header__logo a {
  display: block;
  padding-top: 0.6rem;
  padding-right: 0.4rem;
}
.logo img {
  width: 2.4rem;
  vertical-align: middle;
  overflow: hidden;
}
.nav__list {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}
.nav__item a {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
}
.nav__item span {
  position: relative;
}
.nav__item span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 0%;
  height: 0.2rem;
  transition: width 0.7s ease;
  background-color: #e4a415;
}
.nav__item span:hover::after {
  width: 100%;
}
.nav__list:last-child {
  margin-right: 0;
}
/* ---------------------------
main
--------------------------------*/
#main {
  display: flex;
  padding-top: 5rem;
  height: calc(550 / 1080 * 100vw);
}
.main-content__box {
  width: 43%;
  height: 100%;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-color: #e5a414;
  background-position: bottom right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  position: relative;
  flex-shrink: 0;
  text-align: center;
}
.main-content__box::after {
  position: absolute;
  content: "";
  border: 0.2rem solid #000;
  inset: 2rem;
}
.main-text {
  font-size: 3rem;
  line-height: 1.4;
}
.top-text {
  margin-top: 8.8rem;
}
.sp-space {
  display: none;
}
.middle-text {
margin-top: 4.3rem;
margin-left: 2.4rem;
}
.bottom-text {
  margin: 1.6rem 0 9.6rem 2.3rem;
  line-height: 1.7;
}
.font-style {
  font-style: italic;
}
.dots {
  -webkit-text-emphasis: filled dot;
  text-emphasis: filled dot;
}
.back-black {
  display: inline-block;
  background-color: #000000;
  color: #ffff;
  font-size: 5rem;
  line-height: 1.3;
  padding-right: 1rem;
  padding-left: 1rem;
}
.main__img {
  width: 57%;
  height: 100%;
  /* height: calc(400 / 1080 * 100vw); */
}
.main__img img {
  object-fit: cover;
  object-position: right bottom;
  width: 100%;
  height: 100%;
  display: block;
}
/* ===========================
 header main　　　　　SP
   =========================== */
@media (max-width: 767px) {
 .header__inner {
    padding: 0 2.2rem;
  }
  .header__logo {
    padding: 0;
  }
  .nav {
    display: none;
  } 
  #main {
    flex-direction: column-reverse;
    position: relative;
    height: calc(550 / 375 * 100vw);
    display: block;
  }
  #main .pc-only {
    display: none;
  }
  .main-content__box {
    font-size: 2rem;
    width: 100%;
    height: calc(187 / 375 * 100vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* white-space: normal; */
    background-position: center right;
    position: absolute;
    z-index:1;
    bottom: -5rem;
    left: 0;
  }
  .main-content__box::after {
    border: 0.1rem solid #000;
    inset: 1.3rem;
  }
  .main-text {
    font-size: 2rem;
    line-height: 2.25;
  }
  .top-text {
    margin-top: 5rem;
    background-color: aqua;
  }
  .sp-space {
    display: inline-block;
    margin-right: 1.4rem;
  }
  .middle-text {
    margin-top: 1rem;
    padding-left: 0;
    font-size: 2rem;
    line-height: 1.2;
    background-color: blueviolet;
  }
  .bottom-text {
    margin-top: 1rem;
    line-height: 1.7;
    background-color: chartreuse;
  }
  .back-black {
    display: inline-block;
    font-size: 3.5rem;
    line-height: 1.7;
    padding: 0 1rem 0.2rem 0;
    margin: 0;
  }
  .main__img {
    height: calc(187 / 375 * 100vh);
    width: 100%;
    height: auto;
    line-height: 0;
    object-position: center center;
  }
  .main__img img {
width: 100%;
height: auto;
display: block;
object-fit: cover;
display: block;
}
}

/*--------------------------
greeting
------------------------------------------*/
.greeting {
  padding: 6rem 10rem;
}
.greeting__top {
  font-style: italic;
  color: #e5a414;
  font-size: 3rem;
  font-style: italic;
  line-height: 1.7;
  margin-bottom: 1.6rem;
  font-weight: bold;
  text-align: center;
  padding-right: 1.2rem;
  width: 100%;
}
.greeting .sp-only {
  display: none;
}
.greeting__text {
  text-align: center;
  line-height: 1.8;
}

/* ===========================
greeting           SP
   =========================== */
@media (max-width: 767px) {
  .greeting {
    padding: 0 2rem;
    /* padding: 0 2rem 5rem; */
    margin: 0;
  }
  .greeting__top {
    font-size: 2.3rem;
    line-height: 1.522;
    margin: 5rem 0 2rem;
    padding-top: 5rem;
    font-weight: bold;
    text-align: center;
    padding-right: 0;
  }
  .greeting__top .sp-only {
    display: block;
  }
  .greeting__text {
    font-size: 1.6rem;
    line-height: 1.9;
    text-align: left;
    margin-bottom: 5rem;
  }
  .greeting .pc-only {
    display: block;
  }
}
/* ===========================
reason
   =========================== */
#reason {
  background-color: #fcf6e7;
  position: relative;
  padding: 6rem 10rem 1rem;
}
.triangle {
  width: 28.7rem;
  height: 12.3rem;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  background-color: #fbedd3;
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.reason__ttl {
  font-size: 2.2rem;
  display: inline-block;
  margin-top: 4.9rem;
  margin-bottom: 1.9rem;
  background: linear-gradient(transparent 63%, #e5a414 83%);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  flex-wrap: wrap;
}
.reason__item {
  align-items: flex-start;
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.reason__item:nth-child(even) {
  flex-direction: row-reverse;
}
.reason__item:nth-of-type(3) .reason__ttl {
  margin-top: 0;
}
.reason__item:nth-of-type(3) {
  margin: -1rem 0 4rem;
}
.reason__content {
  width: 45%;
}
.reason__desc {
  line-height: 1.83;
}
.reason__img {
  width: 50%;
}
/* ===========================
reason            SP
   =========================== */
@media (max-width: 767px) {
  #reason {
    padding: 5rem 2rem 0;
    width: 100%;
  }
  .triangle {
    width: 27.7rem;
    height: 9rem;
  }
  .reason__list {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .reason__item--inner {
    text-align: center;
  }
  .reason__ttl {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .reason__item {
    flex-direction: column-reverse;
    margin-bottom: 2.2rem 
  }
  .reason__content {
    width: 100%;
  }
  .reason__desc {
    text-align: left;
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }
  .reason__item:nth-child(even) {
    flex-direction: column-reverse;
  }
  .reason__item:nth-of-type(3)  {
    padding-bottom: 3rem;
  }
  .reason__item:nth-of-type(3) .reason__ttl {
    margin-top: 2.7rem;
    margin-bottom: 1.5rem;
  }
  .reason__item:nth-of-type(3) {
    margin: ;
  }
  .reason__item--inner {
    width: 100%;
  }
  .reason__img {
    width: 100%;
  }
}
/* ===========================
menu 
   =========================== */
.menu {
  padding: 7rem 10rem 6rem;
}
.menu .section__ttl {
  margin-bottom: 4rem;
}
.menu__list {
  display: flex;
  justify-content: space-between;
}
.menu__item {
  width: 29.5%;
}
.menu__ttl {
  font-size: 2rem;
  line-height: calc(2rem / 2.5rem);
  text-align: center;
  margin: 1rem 0 0.5rem;
}
.menu__desc {
  font-size: 1.7rem;
  line-height: 1.765;
}
/* ===========================
menu        sp
   =========================== */
@media (max-width: 767px) {
  .menu {
    padding: 1.5rem 2rem 0.4rem;
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__item {
    width: 100%;
  }
  .menu__ttl {
    line-height: calc(2rem / 3rem);
    text-align: center;
    margin: 1rem 1rem;
  }
  .menu__desc {
    font-size: 1.6rem;
    margin-bottom: 4.7rem;
    line-height: calc(3rem / 1.6rem);
  }
  .menu__item:last-of-type {
    margin-bottom: 0;
  }
}
/* ===========================
  news
   =========================== */
.news__section {
  position: relative;
  background-color: #fcf6e7;
  padding: 6rem 10rem;
}
.news__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.news__item {
  border-bottom: 1px solid #000;
  height: 6rem;
}
.news__item:first-of-type {
  border-top: 1px solid #000;
}
.news__link {
  display: grid;
  grid-template-columns: 13.8rem 21rem 1fr;
  align-items: center;
  padding: 1.6rem 0;
  text-decoration: none;
  flex-wrap: wrap;
}
time {
  font-size: 1.7rem;
  margin-left: 1.9rem;
  font-weight: 700;
}
.news__ttl {
  font-size: 2rem;
  line-height: 1.25;
  color: #e5a414;
}
.news__desc {
  text-align: left;
  font-size: 1.7rem;
  line-height: 1.7;
}
/* ===========================
  news　　　sp
   =========================== */
@media (max-width: 767px) {
  .news__section {
    padding: 6rem 2rem 4rem;
  }
  .news__section .section__ttl {
    margin-bottom: 3.2rem;
  }
  .news__item {
    font-size: 2rem;
    height: auto;
    margin-left: 1rem;
  }
  .news__ttl {
    margin-right: 0;
    margin: 0.2rem 0 0.4rem;
    width: 100%;
  }
  .news__link {
    display: flex;
    flex-direction: column;
    padding-top: 0.6rem;
    align-items: flex-start;
  }
  time {
    width: 100%;
    font-size: 1.7rem;
    margin-top: 2.6rem;
  }
  .news__desc {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    text-align: left;
  }
}
/* ===========================
   info
   =========================== */
#info {
  padding: 7rem 10rem 3rem;
}
#info .section__ttl {
  margin-bottom: 2rem;
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: start;
  margin-top: 2rem;
}
.info__inner {
  max-width: 100%;
  margin-left: 0.6rem;
}
.company-name {
  font-size: 2.5rem;
  line-height: 1.32;
  margin-bottom: 2rem;
}
.map {
  width: 44rem;
  height: 30rem;
  max-width: 100%;
}
.map iframe {
  /* aspect-ratio:22 / 15; */
  width: 100%;
  height: 100%;
  display: block;
}
.company-address {
  margin-bottom: 1.4rem;
}
.company-tel span {
  color: #e5a414;
  font-size: 2.5rem;
}
.company-tel {
  margin-bottom: 0.8rem;
}
.company-email {
  padding-bottom: 2.6rem;
  border-bottom: 1px solid #000;
}
.business__hours {
  margin-left: 0.4rem;
}
.hours {
  margin-bottom: 1.6rem;
  margin-top: 2rem;
}
.holiday {
  border-bottom: 1px solid #000;
  margin-bottom: 2.7rem;
  padding-bottom: 1.8rem;
}
/* ===========================
   info    sp
   =========================== */
@media (max-width: 767px) {
  #info {
    padding: 5rem 2rem 5rem;
    margin: 0;
  }
  .info {
    display: flex;
    flex-direction: column;
  }
  .info__inner {
    width: 100%;
    margin-top: 3rem;
  }
  .news__item {
    font-size: 1.8rem;
  }
  .company-name {
    font-size: 2rem;
  }
  .company-tel span {
    font-size: 2.5rem;
  }
  .company-tel {
    margin-bottom: 0.7rem;
  }
  .company-email {
    padding-bottom: 1.4rem;
  }
  .hours {
    margin-bottom: 2rem;
  }
  .holiday {
    border-bottom: 1px solid #000;
    margin: 1.2rem 0 1.2rem;
    padding-bottom: 1.2rem;
  }
  .map {
    width: 100%;
    height: auto;    
    aspect-ratio: 4 / 3; 
  }
  .map iframe {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
}
/* ===========================
contact
   =========================== */
#contact {
  background-color: #fcf6e7;
  position: relative;
  padding: 7rem 10rem 6rem;
}
#contact .section__ttl {
  margin-bottom: 2.3rem;
}
.contact__intro {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 3.9rem;
}
.form-group {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 17rem 1fr;
}
input[type="text"],
input[type="email"],
textarea {
  background-color: #fff;
  margin-bottom: 3rem;
  width: 100%;
}
label {
  width: 100%;
  height: 4rem;
  font-weight: bold;
  padding-top: 1.4rem;
}
.submit-btn {
  font-size: 2.5rem;
  line-height: 1.32;
  background-color: #000;
  color: #fff;
  width: 20rem;
  text-align: center;
  border-radius: 10%;
  text-align: center;
  margin-inline: auto;
  margin-top: 2.4rem;
  padding: 0.9rem;
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #fff;
  color: #000;
  border: 0.2rem solid #000;
  transition: all 0.7s;
}
textarea {
  width: 100%;
  height: 30rem;
}
input[type="text"],
input[type="email"] {
  height: 4rem;
}
/* ===========================
contact       SP
   =========================== */
@media (max-width: 767px) {
  #contact {
    padding: 5rem 2rem;
  }
  .contact__intro {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .form-group {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    margin-bottom: 2rem;
  }
  label {
    width: 100%;
  }
  .submit-btn {
    width: 100%;
    padding: 0.7rem;
  }
  textarea {
    width: 100%;
    height: 30rem;
    margin-bottom: 4rem;
  }
  input[type="text"],
  input[type="email"] {
    height: 4rem;
  }
}
/* ===========================
footer
   =========================== */
#footer {
  background-color: #e5a414;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 2.8rem) center;
  padding: 6.4rem 0 6rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
.footer__nav {
  border-bottom: 0.8px solid black;
  padding-bottom: 1.8rem;
  margin-bottom: 3rem;
  max-width: 73.7rem;
  width: 100%;
  margin-inline: auto;
}
.footer__navlist {
  display: flex;
  column-gap: 1.4rem;
  margin-left: 2.5rem;
  flex-wrap: wrap;
}
.footer__navlist a {
  padding: 0.8rem 0;
}
.copyright {
  margin: 2.8rem 0 0.8rem;
}
.sns-icons {
  text-align: center;
  gap: 0.1rem;
  margin-inline: auto;  
}
.sns-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
  margin-left: 0.4rem;
}
.sns-icons i {
  font-size: 2.3rem;
}
.circle-icon {
  /* display: inline-flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 5.6rem; */
  border-radius: 50%;
  color: #e5a414;
  background-color: black;
  text-decoration: none;
}
/* ===========================
footer          sp
   =========================== */
@media (max-width: 767px) {
  #footer {
    padding: 5rem 2rem;
    font-size: 1.8rem;
    gap: 1.5rem;
  }
  .footer__navlist {
    flex-wrap: wrap;
    padding-bottom: 2rem;
  }
  .footer__navlist a {
    padding-top: 0.8rem;
    width: 2.2rem;
  }
  .copyright {
    margin: 2rem;
  }
  .sns-icons {
    text-align: center;
  }
  .sns-icons a {
    margin-right: 2rem;
    padding: 1rem 0.5rem;
  }
}
