@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.83;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #000000;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

section {
  scroll-margin-top: 5rem;
}

@media (max-width: 767px) {
  #greeting {
    scroll-margin-top: 5rem;
  }
}

li {
  list-style: none;
}

.inner {
  max-width: 920px;
  margin-inline: auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section__ttl {
  font-size: 2.5rem;
  text-align: center;
  position: relative;
  z-index: 10;
  margin-bottom: 4.7rem;
}

.pc-only {
  display: inline-block;
}

.sp-only {
  display: none;
}
@media (max-width: 767px) {
  .inner {
    max-width: 100%;
  }

  .section__ttl {
    margin-bottom: 4rem;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }
}

/* ===========================
header
     =========================== */
#header {
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 5rem;
  background-color: #ffffff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  height: 5rem;
  max-width: 96.3rem;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 3.1rem;
  font-size: 2.2rem;
  font-style: italic;
  line-height: 1.5;

}

.header__logo a {
  display: flex;
  align-items: center;
  height: 5rem;
  cursor: pointer;
  transition: opacity 0.7s ease;
}

.header__logo a:hover {
  opacity: 0.6;
}

.logo img {
  width: 2.4rem;
  vertical-align: middle;
  overflow: hidden;
}

.nav__list {
  display: flex;
  gap: 1.05rem;
  align-items: center;
  justify-content: flex-end;
}

.nav__item a {
  display: flex;
  align-items: center;
  height: 5rem;
  font-size: 1.4rem;
  /* padding-top: 0.7rem;ピクパ時のみ必要 */
}

.nav__item span {
  position: relative;
}

.nav__item span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 0%;
  height: 0.2rem;
  transition: width 0.7s ease;
  background-color: #e4a415;
}

.nav__item a:hover span::after {
  width: 100%;
}

/* ---------------------------
fv
--------------------------------*/
#fv {
  display: flex;
  padding-top: 5rem;
  width: 100vw;
  height: calc(550 / 1080 * 100vw);
}

.fv-content__box {
  width: 43%;
  height: 100%;
  background-color: #e5a414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 19vw;
}

.fv-content__box::after {
  position: absolute;
  content: "";
  border: 0.2rem solid #000;
  top: 2rem;
  left: 2rem;
  right: 1.9rem;
  bottom: 2rem;
}

.fv-content__box .sp-only {
  display: none;
}

.fv-text {
  font-size: 2.78vw;
  line-height: 1.4;
}

.top-text {
  margin-top: 8.8rem;
  font-style: italic;
}

.sp-space {
  display: none;
}

.middle-text {
  margin-top: 4.3rem;
  margin-left: 2.4rem;
}

.bottom-text {
  margin: 1.6rem 0 9.6rem 2.3rem;
  line-height: 1.7;
}

.dots {
  display: inline-flex;
  gap: 0.1rem;
  position: relative;
  vertical-align: baseline;
}

.char {
  position: relative;
  display: inline-block;
}

.char::before {
  content: "⚫︎";
  position: absolute;
  top: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
}

.back-black {
  display: inline-block;
  background-color: #000000;
  color: #ffff;
  font-size: 4.6vw;
  line-height: 1.3;
  padding-right: 1rem;
  padding-left: 1rem;
}

.fv__img {
  width: 57%;
  height: 100%;
}

.fv__img img {
  object-fit: cover;
  object-position: right bottom;
  width: 100%;
  height: 100%;
  display: block;
}

/* ===========================
 header fv　　　　　SP
   ========================*/
   @media (max-width: 1055px) {
    
   .top-text {
margin-top: 3rem;
   }
.bottom-text {
  margin: 2rem 0 2rem 2rem;
}
   }
@media (max-width: 980px) {
  .header__inner {
    padding: 0 2.2rem;
  }

  .header__logo {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .header__inner {
  }


  .nav {
    display: none;
  }

  #fv {
    height: auto;
    flex-direction: column-reverse;
  }

  #fv .pc-only {
    display: none;
  }

  .fv-content__box {
    font-size: 2rem;
    width: 100%;
    height: 18.5rem;
    background-image: url(../img/header-logo_sp.svg);
    background-size: clamp(100px, 37vw, 140px);
    background-position: 100% 0;
  }

  .fv-content__box::after {
    border: 0.1rem solid #000;
    top: 1rem;
    right: 1.2rem;
    left: 1.2rem;
    bottom: 1.5rem;
  }

  .fv-content__box .sp-only {
    display: inline;
  }

  .fv-text {
    font-size: 2rem;
  }

  .top-text {
    position: relative;
    line-height: 1;
    margin-top: 1.5rem;
  }

  .sp-space {
    display: inline-block;
    margin-right: 1.4rem;
  }

  .middle-text {
    position: relative;
    font-size: 2rem;
    line-height: 1;
    margin: 0;
    margin-top: 1rem;
  }

  .bottom-text {
    position: relative;
    left: 0;
    line-height: 1;
    margin: 0;
    margin-top: 1.7rem;
    padding-bottom: 2rem;
  }

  .back-black {
    display: inline-block;
    font-size: 3.5rem;
    line-height: 1;
    padding: 1rem 0.8rem 1rem;
    margin: 0;
  }

  .fv__logo {
    width: calc(100 / 600 * 100vw);
    bottom: -0.5rem;
  }

  .char::before {
    top: -1.2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
  }

  .fv__img {
    width: 100%;
    height: auto;
    line-height: 0;
    position: relative;
  }

  .fv__img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    display: block;
  }
}

@media (max-width: 374px) {
  .char::before {
    top: -0.7rem;
    font-size: 0.6rem;
  }

  .fv-content__box {
    background-image: url(../img/logo_pc.svg);
    background-position: right center;
  }

  .fv-text .sp-only {
    display: none;
  }

  #fv .pc-only {
    display: block;
  }

  .top-text {
    margin-top: 0;
  }
  .middle-text {
    margin-top: 0.6rem;
  }
  .bottom-text {
    left: 0;
    padding-bottom: 0;
    margin-top: 0.8rem;
  }

  .back-black {
    display: inline-block;
    font-size: 2.3rem;
    line-height: 1;
    padding: 0.4rem;
    margin: 0;
  }
}

/*--------------------------
greeting
------------------------------------------*/
.greeting {
  padding: 6rem 0;
}

.greeting__top {
  font-style: italic;
  color: #e5a414;
  font-size: 3rem;
  line-height: 1.66;
  margin-bottom: 1.5rem;
  text-align: center;
  padding-right: 1.2rem;
  width: 100%;
  white-space: normal;
}

.greeting__text {
  text-align: center;
  line-height: 1.8;
}

.inline-block {
  display:inline-block
}

.br-375,
.br-350 {
  display: none;
}

@media (max-width: 1011px) {
  .greeting {
    padding: 4.3rem 0 5rem;
  }
}

@media (max-width: 767px) {
  .br-375 {
    display: inline;
  }

  .greeting {
    padding: 5rem 0 4.7rem;
    margin: 0;
  }

  .greeting__top {
    font-size: 2.3rem;
    line-height: 1.52;
    margin-bottom: 1.9rem;
    padding-right: 0;
  }

  .greeting__text {
    font-size: 1.6rem;
    line-height: 1.87;
    text-align: left;
  }

  .inner {
    max-width: 77rem;
  }

  .section__ttl {
    margin-bottom: 4rem;
  }

.inline-block {
  display: inline;
}
}

  @media (max-width: 350px) {
    .br-350 {
      display: inline;
    }
  }

  /* ===========================
reason
   =========================== */
  #reason {
    background-color: #fcf6e7;
    position: relative;
    padding: 6.5rem 0 6.3rem;
  }

  .triangle {
    width: 28.7rem;
    height: 12.3rem;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    background-color: #E5A4141A;
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .reason__ttl {
    font-size: 2.2rem;
    display: inline;
    background: linear-gradient(to bottom, transparent 80%, #e5a414 30%);
    white-space: nowrap;
  }

  .sp350-only {
    display: none;
  }

  .reason__item {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-template-areas: "text image";
    margin-bottom: 5.2rem;
    text-align: left;
    width: 100%;
  }

  .reason__item:nth-of-type(3) {
    margin-bottom: 0;
  }

  .reason__item:nth-child(even) {
    grid-template-columns: 50% 50%;
    grid-template-areas: "image text";
    margin-bottom: 4.8rem;
  }

  .reason__content {
    grid-area: text;
    font-size: 1.8rem;
    margin-right: 4.5rem;
  }

  .reason__item:nth-child(even) .reason__content {
    margin-left: 4.4rem;
    padding-right: 0;
    margin-right: 0;
  }

  .reason__img {
    grid-area: image;
  }

  /* ピクセルパーフェクト時必要 */
  /* .reason__item:nth-of-type(3) .reason__content {
  margin-top: -11.1rem;
}
.reason__item:nth-of-type(3) .reason__img {
  margin-top: -0.6rem;
} */
  .reason__desc {
    line-height: 1.83;
    margin-top: 1.9rem;
    text-align: left;
  }

  @media (max-width: 864px) {
   .sp350-only {
      display: block;
    }
  }

  @media (max-width: 940px) {
    .reason__content {
      text-align: left;
    }
  }

  @media (max-width: 767px) {
    #reason {
      padding: 5.8rem 0 5.4rem;
      width: 100%;
    }

    #reason .section__ttl {
      margin-bottom: 3.6rem;
    }

    .triangle {
      width: 27.7rem;
      height: 9rem;
    }

    .reason__list {
      text-align: center;
      padding: 0;
      margin: 0;
    }

    .reason__item--inner {
      text-align: center;
    }

    .reason__ttl {
      font-size: 2rem;
      text-align: center;
    }

    .reason__ttl .sp350-only {
      display: none;
    }

    .reason__item {
      display: flex;
      flex-direction: column;
      margin-bottom: 4rem;
      margin-top: 0;
    }

    .reason__content {
      width: 100%;
      padding-right: 0;
      order: 2;
      text-align: center;
      margin-top: 1.9rem;
      margin-right: 0;
    }

    .reason__desc {
      text-align: left;
      margin-top: 1.2rem;
      font-size: 1.6rem;
    }    

    .reason__item:nth-of-type(3) .reason__content {
      margin-top: 1.9rem;
    } 


    .reason__item:nth-child(even) {
      flex-direction: column;
      margin-bottom: 4.2rem;
    }

    .reason__item:nth-child(even) .reason__content {
      padding-left: 0;
      margin-left: 0;
      margin-top: 2rem;
    }

    .reason__item--inner {
      width: 100%;
    }

    .reason__img {
      order: 1;
      width: 100%;
    }
  }

  @media (max-width: 374px) {
    .reason__ttl .sp350-only {
      display: block;
    }
  }

  /* ===========================
menu 
   =========================== */
  .menu {
    padding: 6.5rem 0 6rem;
  }

  .menu .section__ttl {
    margin-bottom: 4rem;
  }

  .menu__list {
    display: flex;
    justify-content: flex-start;
    gap: 5.75%;
  }

  .menu__item {
    width: 29.5%;
  }

  .menu__ttl {
    font-size: 2rem;
    text-align: center;
    margin: 1.6rem 0 0.6rem;
  }

  .menu__desc {
    font-size: 1.7rem;
    line-height: 1.765;
  }

  /* ===========================
menu        sp
   =========================== */
  @media (max-width: 1011px) {
    .menu {
      padding: 5.2rem 0 6rem;
    }
  }

  @media (max-width: 767px) {
    .menu {
      padding: 5.3rem 0 5.2rem;
    }

    .menu .section__ttl {
      margin-bottom: 3.6rem;
    }

    .menu__list {
      flex-direction: column;
      gap: 0;
    }

    .menu__item {
      width: 100%;
      margin-bottom: 4.2rem;
    }

    .menu__item:last-of-type {
      margin-bottom: 0;
    }

    .menu__ttl {
      text-align: center;
      margin-top: 1.9rem;
      margin-bottom: 0;
    }

    .menu__desc {
      font-size: 1.6rem;
      margin-top: 1.3rem;
    }

    .menu__item:nth-of-type(3) .menu__desc {
      margin-bottom: 0;
    }

    .menu__item:last-of-type {
      margin-bottom: 0;
    }
  }

  /* ===========================
  news
   =========================== */
  .news__section {
    position: relative;
    background-color: #fcf6e7;
    padding: 6rem 0;
  }

  .news__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .news__item {
    border-bottom: 1px solid #000;
  }

  .news__item:first-of-type {
    border-top: 1px solid #000;
  }

  .news__link {
    display: grid;
    grid-template-columns: 11.7rem 20.9rem 1fr;
    align-items: center;
    padding: 1.6rem 0px 1.4rem 1.9rem;
    text-decoration: none;
    padding-left: 1.9rem;
    transition: opacity 0.7s ease;
  }

  .news__link:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  time {
    font-size: 1.7rem;
  }

  .news__ttl {
    font-size: 2rem;
    line-height: 1.25;
    color: #e5a414;
  }

  .news__desc {
    text-align: left;
    font-size: 1.7rem;
    line-height: 1.7;
  }

  /* ===========================
  news　　　sp
   =========================== */
  @media (max-width: 1011px) {
    .news__section {
      padding: 6rem 0;
    }
  }

  @media (max-width: 853px) {
    .news__section {
      padding: 7.5rem 0;
    }
  }

  @media (max-width: 767px) {
    .news__section {
      padding: 5.7rem 0 5rem;
    }

    .news__section .section__ttl {
      margin-bottom: 3.45rem;
    }

    .news__item {
      font-size: 2rem;
      height: auto;
    }

    .news__link {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2.5rem 2.5rem auto;
      width: 100%;
      box-sizing: border-box;
      padding: 3.1rem 0 2.5rem 1rem;

    }

    time {
      grid-row: 1;
      width: 100%;
      font-size: 1.7rem;
    }

    .news__ttl {
      grid-row: 2;
      margin-top: 0.2rem;
      width: 100%;
    }

    .news__desc {
      grid-row: 3;
      font-size: 1.6rem;
      flex-wrap: wrap;
      text-align: left;
      margin-top: 0.6rem;
    }
  }

  /* ===========================
   info
   =========================== */
  #info {
    padding: 6.7rem 0 6rem;
  }

  #info .section__ttl {
    margin-bottom: 2.7rem;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .info__inner {
    max-width: 100%;
    margin-left: 4.6rem;
  }

  .map {
    max-width: 44rem;
    width: 100%;
  }

  .map iframe {
    width: 100%;
    height: 100%;
    display: block;
  }

  .address {
    border-bottom: 1px solid #000;
    padding-bottom: 2.75rem;
  }

  .company-name {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1.65rem;
  }

  .company-address .sp-only {
    display: none;
  }

  .company-address {
    font-size: 1.8rem;
    margin-bottom: 1.55rem;
    line-break: strict;
    word-break: keep-all;
    white-space: normal;
  }

  .company-tel {
  margin-bottom: 0.8rem;
  }

  .company-tel a {
    color: #e5a414;
    font-size: 2.5rem;
    text-decoration: none;
    transition: opacity 0.7s ease;
  }

  .company-tel a:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  .phone-mobile {
    display: none;
  }

  .phone-desktop {
    display: inline-block;
    pointer-events: none;
    cursor: default;
  }

  .company-email {
    font-size: 1.8rem;
    transition: transform 0.7s ease, color 0.7s ease;
  }

  .email-text a {
    transition: opacity 0.7s ease;
  }

  .email-text a:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  .company-tel span,
  .company-email a {
    white-space: nowrap;
  }

  .business__hours {
    padding: 2.2rem 0 1.8rem;
    margin-left: 0.4rem;
    border-bottom: 1px solid #000;
  }

  .hours {
    margin-bottom: 1.3rem;
    word-break: keep-all;
    line-break: strict;
  }

  .nowrap {
    white-space: nowrap;
  }

  /* ===========================
   info    sp
   =========================== */
  @media (max-width: 1011px) {
    #info {
      padding: 7rem 0 4rem;
    }
  }

  @media (max-width: 890px) {
    .company-address .sp-only {
      display: inline;
    }
  }

  @media (max-width: 767px) {
    #info {
      padding: 6rem 0 5rem;
      margin: 0;
    }

    .info {
      grid-template-columns: 1fr;
    }

    .info__inner {
      width: 100%;
      margin-top: 3.4rem;
      margin-left: 0;
      padding-left: 0;
    }

    .address {
      padding-bottom: 1.5rem;
    }

    .company-name {
      font-size: 2.2rem;
      line-height: 1.3;
    }
    .company-address {
      margin-bottom: 2rem;
    }

    .company-address .sp-only {
      display: inline-block;
    }

    .news__item {
      font-size: 1.8rem;
    }

    .company-tel span {
      font-size: 2.5rem;
      transition: color 0.7s ease 0.7s;
    }

    .company-tel {
      font-size: 1.6rem;
      margin-bottom: 0.8rem;
    }

    .company-tel a:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    .phone-mobile {
      display: block;
    }

    .phone-desktop {
      display: none;
    }

    .company-email {
      font-size: 1.6rem;
    }


    .hours {
      margin: 0;
      margin-bottom: 0.6rem;
    }

    .business__hours {
      padding: 1.6rem 0 1.3rem;
      margin-left: 0;
      font-size: 1.6rem;
    }

    .map {
      width: 100%;
      aspect-ratio: 335 / 222;
      height: 100%;
      max-width: none;
    }

    .map iframe {
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }

  /* ===========================
contact
   =========================== */
  #contact {
    background-color: #fcf6e7;
    position: relative;
    padding: 6.7rem 0 5.8rem;
  }

  #contact .section__ttl {
    margin-bottom: 1.8rem;
  }

  .contact__intro {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 4.4rem;
    line-height: 1.76;
  }

  .form-group {
    font-size: 2rem;
    display: grid;
    grid-template-columns: 17rem 1fr;
    margin-bottom: 2.8rem;
  }

  .form-group:last-of-type {
    margin-bottom: 0;
  }



  input[type="text"],
  input[type="email"],
  textarea {
    background-color: #fff;
    width: 100%;
    padding: 1rem;
    font-weight: normal;
    font-size: 1.6rem;
  }

  label {
    width: 100%;
    display: flex;
    align-items: center;
  }
  label[for="message"] {
    align-items: flex-start;
    padding-top: 0.7rem;
  }

  .submit-btn {
    display: block;
    font-size: 2.5rem;
    line-height: 1.32;
    background-color: #000;
    color: #fff;
    width: 20rem;
    text-align: center;
    border-radius: 10px;
    text-align: center;
    margin-inline: auto;
    margin-top: 4.9rem;
    padding: 0.9rem;
    cursor: pointer;
    transition: all 0.7s;
    border: 0.1rem solid transparent;
  }

  .submit-btn:hover {
    background-color: #fff;
    color: #000;
    border: 0.1rem solid #000;
  }

  textarea {
    width: 100%;
    height: 30rem;
    min-height: 30rem;
    resize: vertical;
  }

  input[type="text"],
  input[type="email"] {
    height: 4rem;
  }

  /* ===========================
contact       SP
   =========================== */
  @media (max-width: 767px) {
    #contact {
      padding: 5.6rem 0 4.9rem;
    }

    .contact__inner {
      margin-top: 2.8rem;
      line-height: 1.8;
    }

    .contact__intro {
      font-size: 1.6rem;
      margin-bottom: 3rem;
      text-align: left;
      line-height: 1.87;
    }

    .form-group {
      font-size: 1.8rem;
      display: flex;
      flex-direction: column;
      margin-right: 0;
      margin-bottom: 1.9rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      height: 5rem;
      margin-bottom: 0;
    }

    label {
      margin-bottom: 0.2rem;
      padding: 0;
    }
    label[for="message"] {
      align-items: center;
      margin: 0;
      padding: 0;
    }

    .submit-btn {
      max-width: 33.5rem;
      width: 100%;
      padding: 0.7rem;
      font-size: 2rem;
      margin-top: 4.5rem;
    }

    textarea {
      height: 30rem;
    }
  }

  /* ===========================
footer
   =========================== */
  #footer {
    background-color: #e5a414;
    padding: 4.3rem 0 6.1969rem;
    font-size: 2rem;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  #footer::after {
    content: "";
    position: absolute;
    background-image: url(../img/Vector\ 2.svg);
    bottom: 0;
    right: max(1.8rem, calc((100vw - 1080px) / 2 + 1.8rem));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 22rem;
    height: 27rem;
    aspect-ratio: 160 / 418;
    pointer-events: none;
  }

  .footer__nav {
    max-width: 74rem;
    width: 100%;
    margin-inline: auto;
  }

  .footer__navlist {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    flex-wrap: wrap;
  }

  .footer__navlist a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.1rem 0.7rem;
  }

  .footer__nav-item a {
    transition: all 0.7s ease;
  }

  .footer__nav-item a:hover {
    opacity: 0.6;
  }

  .copyright {
    font-size: 2rem;
    margin-top: 2.8rem;
    line-height: 1.6;
  }

  .sns-icons {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-inline: auto;
    margin-top: 0.8rem;
    width: auto;
    height: auto;
  }

  .sns-icons a {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.7s ease;
  }

  .sns-icons a:hover {
    opacity: 0.6;
  }

  .sns-icons i {
    font-size: 2rem;
    pointer-events: none;
  }

  /* ===========================
footer          sp
   =========================== */
  @media (max-width: 767px) {
    #footer {
      padding: 5.1rem 0 5.1rem;
    }

    #footer::after {
      background-position: right center;
      right: max(1.8rem, calc((100vw - 1080px) / 2 + 2.8rem));
      background-size: cover;
      background-position: center center;
      width: 22rem;
      height: 29rem;
    }

    .footer__nav {
      /* padding-bottom: 0.6rem; */
      line-height: 1.83;
      font-size: 1.8rem;
      position: relative;
    }

    .footer__navlist {
      width: 100%;
      flex-wrap: wrap;
      column-gap: 1.4rem;
      position: relative;
      padding-bottom: 1.8rem;
      font-size: 1.8rem;
      line-height: 1.55;
    }

    .copyright {
      font-size: 1.6rem;
      margin-top: 2.5rem;
    }

    .footer__nav-item a {
      padding: 0.2rem 0 0.3rem;
    }

    .sns-icons {
      gap: 1.2rem;
      margin-top: 2.2rem;
    }
  }

  @media (max-width: 663px) {
    #footer::after {
      width: 21.5rem;
      height: 28rem;
      aspect-ratio: 169 / 441;
    }
  }

  @media (max-width: 369px) {
    #footer::after {
      width: 23rem;
      height: 37rem;
      aspect-ratio: 169 / 441;
    }
  }